body {
	background-image: url(https://raw.githubusercontent.com/Phattharaphum/Formtest01/main/img/bg01.jpg);
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	font-family: Kanit;
}
.mainform {
    background-color: white;
	border-radius: 10px;
    margin: auto;
	margin-top: 5em;
	width: 600px;
	padding: 2em;
	box-shadow: 5px 5px 5px 1px #403d39;
}
.nameth {
    display: flex;
    flex-direction: row;
}
.nameen {
    display: flex;
    flex-direction: row;
}
.logo {
	height: 80px;
}

.head {
	display: flex;
}

.headtext {
	margin-left: 0.5em;
	font-family: Roboto;
	font-size: 35pt;
	margin: auto;
	color: #252422;
	font-weight: 900;
	
}

#ddb {
	color: #a98467;
	font-size: 20pt;
}

#ss {
	border-radius: 5px;
	font-family: Kanit;
	font-size: 15pt;
	border: none;
	background-color: #ced4da;
}

.ddb {
	
}

textarea {
	resize: none;
	width: 80px;
}

.addd {
	border-color: #252422;
	border-radius: 5px;
}

form {
	font-size: 20pt;
	font-weight: 600;
}

input {

}

p {
	
}

#sk {
	margin-left: 1em
}

.nameip {
	font-family: kanit;
	font-size: 15pt;
	border-radius: 5px;
	border: none;
	background-color: #ced4da;
}

#na {
	margin-left: 1em;
}

#tt {
	font-family: Kanit;
	font-size: 15pt;
	border-radius: 5px;
	border: none;
	background-color: #ced4da;
}

#fname {
	margin-left: 2.6em;
}

#lnane {
	margin-left: -.7em;
}

#tts {
	font-family: Kanit;
	font-size: 15pt;
	border-radius: 5px;
	border: none;
	background-color: 	font-family: Kanit;
	font-size: 15pt;
	border-radius: 5px;
	border: none;
	background-color: #ced4da;
}

.gend {
	font-size: 10pt;
}

.ggg {
	font-weight: 500;
}

#mh {
	width: 600px;
	font-size: 12pt;
	font-family: Kanit;
	border-radius: 5px;
	border: none;
	background-color: #ced4da;
}

#sc {
	margin: auto;
	font-family: Kanit;
	font-size: 20pt;
	margin-left: 7.5em;
	font-weight: 500;
	background-color: #540b0e;
	color: white;
	border: none;
	border-radius: 10px;
	padding: 10px;
	width: 200px;
}

.freesp {
	height: 600px;
}
@media screen and (max-width: 768px)
{
body{
	background-image:url();
	background-color: #941b0c;
	width: 100%;
	}
	.mainform{
		margin-top: 0;
		border-radius: 0px;
		box-shadow:0 0 0 0 ;
	}
.freesp {
	height: 60px;
	width: 100%;
	background-color:#941b0c; 
}	
	.head{
		background-color: #ffb627;
		margin: -2em;
		padding: 2em;
	}
	.nameth{
		margin-top: 1em
	}
	.headtext{
		color: white;
	}
}
.topivv {
	height: 100px;
}

#geedd {
	background-color: #ced4da;
	padding: 5px;
	border-radius: 5px;
	font-size: 15pt;
}